<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship</title>

    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">

    <!-- Custom scripts -->
    <script src="/index.js" defer></script>
    
</head>

<body>
    <h1 id="title"><%= gameTitle %></h1>
    <table id="board">
        <tbody>
            <tr>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
            </tr>
            <tr>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
            </tr>
            <tr>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
            </tr>
            <tr>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
            </tr>
            <tr>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
            </tr>
            <tr>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
                <td><div class="entry"></div></td>
            </tr>
        </tbody>
    </table>
</body>

</html>