<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship</title>

    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">

    <!-- Custom scripts -->
    <script src="/index.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/realtime-communication.js" defer></script>

</head>

<body>
    <% if(message) { %>
    <div class="message-alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= message %>
    </div>
    <% } %>
    <h1 id="title"><%= gameTitle %></h1>

    <div class="container-center flex-container">
        <table id="board1">
            <tbody>

            </tbody>
        </table>

        <table id="board2">
            <tbody>

            </tbody>
        </table>
    </div>

    <div class="container-center">
        <a href="#" onclick="startGame()" class="myButton">Start</a>
    </div>

</body>

</html>