<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship</title>

    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">

    <!-- Custom scripts -->
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/index.js" defer></script>

</head>

<body>
    <div id="memberId" style="display: none;"><%= memberId %></div>

    <% if(message) { %>
    <div class="message-alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= message %>
    </div>
    <% } %>
    <h1 id="title"><%= gameTitle %></h1>

    <div class="container-center flex-container">

        <div class="flex-container-col border-green">
            <h1 class="board__name board__name--green">You</h1>
            <table id="board1">
                <tbody>

                </tbody>
            </table>
        </div>

        <% if(foundOpponent) { %>
        <div class="flex-container-col border-red">
            <h1 class="board__name board__name--red">Opponent</h1>
            <table id="board2">
                <tbody>

                </tbody>
            </table>
        </div>
        <% } %>
    </div>

    <div class="container-center">
        <a href="#" onclick="startGame()" class="myButton">Start</a>
    </div>

</body>

</html>