*
{
    box-sizing: border-box;
}

body
{
    background-color: #4f6275;
}

.message-alert 
{
    padding: 20px;
    background-color: rgba(153, 243, 189, 0.5);
    color: white;
    margin-bottom: 15px;
}

.container-center
{
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.flex-container
{
    display: flex;
    flex-direction: row;
}

.closebtn 
{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
  .closebtn:hover 
{
    color: black;
}

h1#title
{
    color: white;
    font-size: 3rem;
    text-align: center;
}

#board1, #board2
{
    margin: 0 auto;
}

.entry
{
    background-color: #e3e8e3;
    width: 65px;
    height: 65px;
}

.entry:hover
{
    border: 2px solid red;
    cursor: pointer;
}

.entry-disabled {
    background: gray;
}

.entry-disabled:hover {
    cursor: not-allowed;
    border-style: none;
}

.myButton {
	box-shadow: 0px 0px 5px 0px #3dc21b;
	background-color:#44c767;
	border-radius:42px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 75px;
    text-decoration:none;
    margin-top: 1rem;
    text-align: center;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}