*
{
    box-sizing: border-box;
}

body
{
    background-color: #4f6275;
}

.message-alert 
{
    padding: 20px;
    background-color: #ade498; /* Red */
    color: white;
    margin-bottom: 15px;
}

.closebtn 
{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
  .closebtn:hover 
{
    color: black;
}

h1#title
{
    color: white;
    font-size: 3rem;
    text-align: center;
}

#board
{
    margin: 0 auto;
}

.entry
{
    width: 100px;
    height: 100px;
}

.entry:hover
{
    border: 2px solid red;
    cursor: pointer;
}

.entry__black
{
    background-color: black;
    
}

.entry__white
{
    background-color: #e3e8e3;
}
